/russian/common.rpyc
/russian/setup/gallery.rpyc
/russian/setup/options.rpyc
/russian/setup/save_load.rpyc
/russian/setup/screens.rpyc
/russian/scenario/choice.rpyc
/russian/scenario/sc_en.rpyc
/russian/scenario/setup.rpyc
